﻿<!DOCTYPE html>
<html>
<head>
    <title>Upload JSON File</title>
    <link rel="stylesheet" href="~/css/verify.css" asp-append-version="true" />
    <style>
        .container {
            max-width: 100% !important;
        }
    </style>
</head>

<body> <!-- partial:index.partial.html --> 
    <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> 
     <div class="signin"> 
      <div class="content"> 
       <h2>Xác thực Lamport</h2> 
       <form class="form" action="/Verify/Upload" method="POST" enctype="multipart/form-data">
        <div class="inputBox">
            <input type="text" name="Message" required>
            <i >Nhập thông điệp</i>
        </div>
        <h3 for="json_file_sig">Chọn chữ ký</h3>
                    <input type="file" id="fileInput1" style="display: none;" />
                    <input type="file" name="json_file_sig" accept=".json" id="uploadButton1">
        <h3 for="json_file_key">Chọn khóa xác thực</h3>
                    <input type="file" id="fileInput2" style="display: none;" />
                    <input type="file" name="json_file_key" accept=".json" id="uploadButton2">
        <div class="inputBox">
            <input type="submit" value="Xác thực">
        </div>
    </form>
     </div> 
    </section> <!-- partial --> 
   </body>
</html>
<script src="~/js/swal.js"></script>
<script>
  

    document.getElementById("uploadButton1").addEventListener("change", function () {
        var file = this.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Lấy nội dung tệp tin đã chọn
                var content = e.target.result;

                // Gửi nội dung tệp tin lên máy chủ bằng AJAX
                $.ajax({
                    type: "POST",
                    url: '/Verify/WriteToFile1',
                    data: JSON.stringify(content),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                       
                    },
                    error: function (error) {
                       
                    }
                });
            };

            reader.readAsText(file);
        }
    });
</script>
<script>


    document.getElementById("uploadButton2").addEventListener("change", function () {
        var file = this.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Lấy nội dung tệp tin đã chọn
                var content = e.target.result;

                // Gửi nội dung tệp tin lên máy chủ bằng AJAX
                $.ajax({
                    type: "POST",
                    url: '/Verify/WriteToFile2',
                    data: JSON.stringify(content),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        
                    },
                    error: function (error) {
                       
                    }
                });
            };

            reader.readAsText(file);
        }
    });
</script>