﻿@{
    bool re = ViewBag.Result;
}
<head>
    <link rel="stylesheet" href="~/css/result.css" asp-append-version="true" />
    <style>
        .container {
            max-width: 100% !important;
        }
    </style>
</head>
<body>
    @if (re)
    {
        <div class="sign">
            <span class="fast-flicker">Đ</span>ú<span class="flicker">n</span>g
        </div>
    }
    else
    {
        <div class="sign">
            <span class="fast-flicker">S</span>a<span class="flicker">i</span>
        </div>
    }
</body>